.group {
}

.colors {
  display: flex;
  gap: 4px;
  border-radius: 0px;
}

.header {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 22px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}
