.links {
  display: flex;
  align-items: center;
}

.header img {
  height: 34px;
}

.links a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-left: 32px;
  border-bottom: 3px solid transparent;
  padding-bottom: 7px;
  font-size: 18px;
}

.links a:hover {
  border-color: rgb(212, 212, 212);
}

.container {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  border-color: grey !important;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  background-color: rgb(250, 211, 255);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
}
