* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  color: #1e2b3c;
}

.fds-switch-input-9a6b03bc:checked
  + .fds-switch-label-9a6b03bc
  .fds-switch-track-9a6b03bc
  .fds-switch-thumb-9a6b03bc {
  background-image: none;
}
