.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 25px;
  font-size: 18px;
}

.test {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.colors {
  display: flex;
}

.top {
  display: flex;
}

.selectedColor {
  border: 1px solid rgb(192, 192, 192);
  height: 260px;
  width: 250px;
  padding: 20px;
  margin-left: 32px;
  border-radius: 4px;
}

.selectedColor > div {
  margin-bottom: 10px;
}

.icon {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.icon svg {
  font-size: 80px;
}

.red {
  color: rgb(202, 0, 0);
}

.swatchContainer {
  border: 1px solid rgb(192, 192, 192);
  height: 260px;
  width: 495px;
  padding: 20px;
  margin-right: 32px;
  border-radius: 4px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tom {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.swatch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.swatch:hover {
  cursor: pointer;
}

.swatches {
  display: flex;
  align-items: center;
  gap: 10px;
}
