.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 25px 100px 25px;
  font-size: 18px;
}
.colors {
  display: flex;
}

.top {
  display: flex;
}

.swatchContainer {
  border: 1px solid rgb(192, 192, 192);
  height: 260px;
  width: 495px;
  padding: 20px;
  margin-right: 32px;
  border-radius: 4px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tom {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.swatch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.swatch:hover {
  cursor: pointer;
}

.swatches {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 12px 80px 40px 80px;

  /* background-color: rgb(247, 247, 247); */
  /* border: 1px solid rgb(236, 236, 236); */
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
}

.toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-bottom: 16px;
}

.toggles .toggle:first-child {
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}

.toggles .toggle:last-child {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  padding: 9px 15px 9px 14px;
  font-size: 15px;
  border: 1px solid rgb(190, 190, 190);
}

.toggle:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(224, 224, 224);
}

.toggle img {
  height: 16px;
}

.tokens {
  margin-top: 40px;
}

.tokens h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tokens h2 {
  font-size: 22px;
  margin-bottom: 0;
}

.token {
  font-size: 16px;
}

.token div {
  margin-bottom: 6px;
}
